<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h5>You are going to delete the whole category named {{category.name}}. Are you sure you want to do that? The whole category along with all the products will be deleted. Once deleted the action is irreversible.
</h5>
</br></br></br></br>
<h3><form method="POST" action="{{ url_for('delete_category', category_id=category.id) }}">
   
    <button type="submit" class="btn btn-danger">Delete</button>
</form></h3>
</br></br></br></br>
<h5><a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Go back</a></h5>
</body>
</html>